/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

/*create post*/

.create-post-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1000;
  padding: 20px;
}

.create-post-alert-container {
  max-width: 500px;
  margin: auto;
}

.create-post-alert h2 {
  margin-top: 0;
}

.create-post-alert label {
  display: block;
  margin-bottom: 5px;
}

.create-post-alert input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.create-post-alert button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.create-post-alert button:hover {
  background-color: #2980b9;
}


/*create post button*/
#create-post-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#create-post-button:hover {
  background-color: #2980b9;
}

/*create post button*/
/*create post*/


/*Edit post*/

.edit-post-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1000;
  padding: 20px;
}

.edit-post-alert-container {
  max-width: 500px;
  margin: auto;
}

.edit-post-alert h2 {
  margin-top: 0;
}

.edit-post-alert label {
  display: block;
  margin-bottom: 5px;
}

.edit-post-alert input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.edit-post-alert button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-post-alert button:hover {
  background-color: #2980b9;
}


/*create post button*/


/* container */

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
/* container */

/* Styling for navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Set the background color to white */
  color: #333; /* Set the text color to a darker shade */
  padding: 10px 20px; /* Add padding to the top and bottom, and left and right sides */
}

.logo {
  font-size: 20px;
}

.left-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-nav li {
  margin-right: 20px;
  align-items: center;
  display: flex;
}

.left-nav .user-img {
  display: none;
}

.left-nav .user-img img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.left-nav li:last-child {
  margin-right: 0;
}

.left-nav a {
  color: #333;
  text-decoration: none;
}

.left-nav a:hover {
  text-decoration: underline;
}


.right-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav li {
  margin-left: 20px;
}

.right-nav li:first-child {
  margin-left: 0;
}

.right-nav a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.right-nav a:hover {
  background-color: #333;
  color: #fff;
}

/* nav styles */
/* Styling for post */

#tags {
  display: flex;
  gap: 5px;
  align-items: center;
}

#tags span {
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.post {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 5px #ddd;
  background-color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 6px 5px;
  box-shadow: 0px 3px 5px #ddd;
  margin-bottom: 5px;
}

.publisher {
  display: flex;
  align-items: center;
}
.publisher a {
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.publisher-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

/*syle for edit button*/
.edit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: #3e8e41;
}
/*end syle for edit button*/

/*syle for delete button*/
.delete-button {
  background-color: rgb(207, 31, 31); /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: red;
}
/*end syle for edit button*/

.post-time {
  font-size: 12px;
  color: gray;
}

.post-p {
  font-size: 14px;
  margin-bottom: 7px;
}

.post .post-img {
  width: 100%;
  height: auto;
}
.post-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  color: #999;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.post-icons span {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
.post-icons span:hover {
  color: #333;
}

/*loader style*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*//loader style//*/